.user
  .user__field
    ' {{ "USER_SHOW_EMAIL" | translate }}:
    ' {{ data.user.email }}
  .user__field
    ' {{ "USER_SHOW_NAME" | translate }}:
    ' {{ data.user.first_name }} {{ data.user.last_name }}
  .user__field
    ' {{ "USER_SHOW_ROLE" | translate }}:
    ' {{ data.user.role }}
