.consumers__title {
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
}

.consumer {
  margin-top: 5px;
}

.consumer__content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.consumer__content--left {
  flex: 1;
}
