.consumers__title {
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
}

.consumer {
  margin-top: 5px;
}

.consumer__content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.consumer__content--left {
  flex: 1;
}

.consumer__order-status {
  display: inline-block;
  font-size: 20px;
  margin-right: 5px;
}

.consumer__order-status--completed {
  color: $forest-green;
}

.consumer__order-status--not-completed {
  color: $sunset-red;
}
