.login {
  width: 50%;
  margin: 100px auto;
}

.login__form {
  display: table;
  margin: 0 auto;
  padding: 20px;
  width: 300px;
  background-color: $almost-white;
  border: 1px solid $light-gray;
}

.login__form-title {
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
}
