.orders__title {
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
}

.order {
  margin-top: 5px;
}

.order__content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.order__content--left {
  flex: 1;
}

.orders__filter {
  margin-bottom: 5px;
  margin-top: 5px;
}


.order__consumer-title,
.order__title {
  font-weight: bold;
  text-transform: uppercase;
}
